<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <style>
    html {
      overflow-y: scroll;
    }
    body {
      background-color: #f0f0f0; /* light grey */
    }
  </style>
</head>
<body>
<hr>
{{ content }}
</body>
</html> 