<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<h1>{{ pages_created_count }} pages downloaded from Confluence {{ space }} Space at {{ date }}</h1>
{{ tree }}
</body>
</html> 